body{
    background-color: lightslategray;
}
p{
    width: 300px;
    padding: 20px;
    color: whitesmoke;
    border: 2px solid white;
    border-radius: 15px 50px 15px 50px;
    background-color: #0F4069;
}